
*.pyd
build/temp.win-amd64-3.9/Release/NFW_funcs.cp39-win_amd64.exp
build/temp.win-amd64-3.9/Release/NFW_funcs.cp39-win_amd64.lib
build/temp.win-amd64-3.9/Release/NFW_funcs.obj
output.txt
table2.csv
table.csv
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
0609.txt
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
*.txt
data/dr8_redmapper_v6.3.1_members_n_clusters_masked.fits
*.opju
*.csv
*.npy
*.png
*.sub
*.sh
*.fits
